.elements__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 18px;
    height: 19px;
    width: 100%;
    background: url("../../../images/vector-trash.svg") center center no-repeat;
    border: none;
    padding: 0;
}

.elements__delete:hover {
    cursor: pointer;
    opacity: 0.25;
    transition-duration: .5s;
}