.auth__header {
    display: none;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 580px) {
    .auth__header {
        font-size: 14px;
        line-height: 17px;
    }
}